ETHERSCAN_API_KEY = HQC
BSCSCAN_API_KEY = CMM
POLYGONSCAN_API_KEY = CK25NV
FANTOMSCAN_API_KEY = 5CP4F
MOON_API_KEY = Y9VZ2F
MNEMONIC = 021a3
INFURA_ID_PROJECT = 040b
BSC_RPC_KEY = 12f1

#gas price for testnets
DEPLOY_GAS_PRICE_TESTNET = 10

DEPLOY_GAS_PRICE_ROPSTEN = 60

DEPLOY_GAS_PRICE_RINKEBY = 60

DEPLOY_GAS_PRICE_POLYGON = 3

DEPLOY_GAS_PRICE_AVAX = 80

DEPLOY_GAS_PRICE_FANTOM = 400

DEPLOY_GAS_PRICE_MOON = 2

DEPLOY_GAS_PRICE_ETH_MAINNET = 50

DEPLOY_GAS_PRICE_BSC_MAINNET = 5
